-r requirements.txt
.
git+https://github.com/George-Ogden/extra-types; python_version >= "3.12"
git+https://github.com/George-Ogden/mirror-rorrim; python_version >= "3.12"
git+https://github.com/George-Ogden/mypy-pytest; python_version >= "3.12"
git+https://github.com/George-Ogden/utils; python_version >= "3.12"
inline-snapshot
mypy
prek
py-spy
pytest>=9.0.0
pytest-timeout
ruff==0.15.18
