name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    uses: George-Ogden/actions/.github/workflows/python-test.yaml@v3.0.1
    with:
      python-versions: "['3.11', '3.12', '3.13']"
